html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
}

#root {}

.header {
    box-shadow: 0 1px 10px #BBB;
    overflow: hidden;
}

.header__title-item {
    padding: 10px 0px 10px 10px;
}

.header__auth-item {
    font-size: 12px;
    padding: 10px 10px 10px 0px;
    float: left;
}

.header__logout {
    cursor: pointer;
}

.header__logout:hover {
    text-decoration: underline;
}

.jumbotron {
    text-align: center;
    padding: 50px 0;
}

.jumbotron__content {
    display: inline-block;
    font-size: 24pt;
}

.home {
    text-align: center;
}

.home__form-container {
    margin-bottom: 20px;
}

.home__prompt {
    padding-bottom: 20px;
}

.home__errors {
    color: red;
    font-size: 8pt;
}

.gallery__images-list {
    display: flex;
    flex-direction: row;
}

.gallery__image-container {
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.gallery__image-container:hover {
    cursor: pointer;
    background: grey;
}

.voted {
    background: pink;
}

.gallery__image-container div {
    padding: 10px 20px;
}

.gallery__image-container img {
    width: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}